<table class="ui celled table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Trend</th>
      <th>Comments</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each members.assessments}}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          {{weight}}
        </td>
        <td>
          {{chest}}
        </td>
        <td>
          {{thigh}}
        </td>
        <td>
          {{upperarm}}
        </td>
        <td>
          {{waist}}
        </td>
        <td>
          {{hips}}
        </td>
        <td>
          {{#if trend}}
            <a class="ui teal tag label"></a>
        {{else}}
            <a class="ui red tag label"></a>            
        {{/if}}           
        </td>
        <td>
          {{comments}}
        </td>
        <td>
          <a href="/dashboard/deleteassessment/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>