<section class="ui segment">
  <div class="ui relaxed divided list">
    {{#each member}}
    <form class="ui form item">
      <div class="inline fields" style="margin: 0.5em 0;">
        <i class="teal large folder open icon"></i> 
        <div class="content"  style="flex-grow: 1;">
          <a href="/trainerdashboard/{{id}}" class="header">{{name}}</a>
          <div class="description">{{assessments.length}} Assessment(s)</div>
          <div class="Email">{{email}}</div>          
        </div>
        <a href="/trainerdashboard/deletemember/{{id}}">
         <i class="ui large red icon trash"></i> 
       </a>
     </div>
   </form> 
   {{/each}}
 </div>
</section>