<header class="ui header"> Member Details </header>
<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>  
      <th>E-Mail</th>
      <th>Address</th> 
      <th>Height</th>
      <th>Starting Weight</th>       
      <th></th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td>
          {{members.name}}
        </td>
        <td>
          {{members.gender}}
        </td>     
         <td>
          {{members.email}}           
        </td>
        <td>
          {{members.address}}
        </td>
        <td>
          {{members.height}} meters
        </td>     
         <td>
          {{members.startingweight}} kgs          
        </td>        
      </tr>

  </tbody>
</table>